* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
}

body {
    background: #F5F5F5;
    padding: 0.5rem;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
