.blockPanier {
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 425px) {
        display: block;
    }
}

.line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &Img {
        height: 3rem;
    }
}

.adressForm, .panierResume{
    @media screen and (max-width: 425px) {
        margin: 1rem;
    }
}
